
<form asp-controller="Books" asp-action="Books/AddBook" method="post">
    <label for="title">Book title: </label>
    <input name="title" asp-for="title"></input>

    <label for="title">Book title: </label>
    <input name="title" asp-for="title"></input>
</form>
